name: cert_tools
channels:
    - defaults
    - conda-forge
    - anaconda
    - mosek

dependencies:
    - python=3.10
    - pip=22.3

    # packages for local development that are not installed by setup.cfg
    - black>=23.1
    - plotly>=5.24
    - pytest

    - pip:
      - -r requirements.txt
      - -e .
