name: cert_tools
channels:
    - defaults
    - conda-forge
    - anaconda
    - mosek

dependencies:
    - python=3.10
    - pip=22.3

    - numpy>=1.23.5
    - scipy==1.9.1
    - matplotlib>=3.6.2
    - pandas>=1.5.3
    - cvxpy>=1.3.2
    - pytest>=7.2.2
    - black>=23.1.0
    - mosek>=11
    - casadi>=3.6.3
    - scikit-sparse>=0.4.14
    - plotly>=5.24.1
    - suitesparse

    - pip:
      - -r requirements.txt
      - -e .  
