name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
		- uses: mamba-org/setup-micromamba@v1
			with:
				micromamba-version: '1.3.1-0'
				environment-file: environment.yml
				init-shell: >-
					bash
					powershell
				cache-environment: true
				post-cleanup: 'all'
		- name: Test with pytest
			run: |
				pytest
			shell: micromamba-shell {0}
